@keyframes stress {
	50%{
		transform:translateX(-5px);
	}
	100%{
		transform: translate(5px);
	}
}
@keyframes arrive {
	0%{
		transform: translateY(-1000px);
	}
	90%{
		transform: translateY(10px);
	}
	100%{
		transform: none;
	}
}

body {
	margin: 0px;
	padding: 0px;
	font-family: 'PT Sans Narrow',Arial, sans-serif;
	font-size: 14px;
	font-weight: 700;
	line-height: 24px;
	text-transform: uppercase;
	color: #fff;
	background-image: url(../img/bg-big.jpg);
	background-color: #000;
	background-position: top center;
	background-repeat: no-repeat;
}
.main-page {
	position: relative;

}
.inner-page {
	color: #000;
	background-image: url(../img/bg-white.jpg);
	background-color: #fff;
	background-repeat: repeat;
}
a {
	text-decoration: none;
	color: #fff;
}
a, input {
	outline: none;
}
.inner-page main a:not(.button) {
	color: #000;
}
.main-navigation {
	font-size: 16px;
	line-height: 20px;
	

}
.main-navigation-background{
	width: 100%;
	background-color: #000;
}
.inner-page .main-header {
	background-color: #000;
}
.main-navigation ul {
	list-style-type: none;
	
}

.site-navigation a:hover, 
.user-navigation a:hover,
.site-navigation a:focus, 
.user-navigation a:focus{
	background-color: #242424;
}
.features h3{
	font-size: 30px;
	line-height: 42px;
}
.features li{
	list-style-type: none;
	text-align: center;
}
.features ul{
list-style-type: none;
}
.columns-container {
	color: #000;
	background-color: #f8f5f2;
	background-image: url('../img/side.png'), url(../img/bg-white.jpg);
	background-repeat: no-repeat, repeat;
	background-position: 50% 50%, 0;
}
.columns-container h2 {
	margin: 0;
	padding: 0;
	font-size: 30px;
	line-height: 42px;
	margin-bottom: 20px;
}
.news-list {
	list-style-type: none;
}
.news-list time{
	text-transform: none;

}
.news-item:last-child {
 	margin-bottom: 30px;
}
.news-list p{
	margin-bottom: 0px;
	margin-top: 20px;
}
.button {
	font: inherit;
	text-transform: inherit;
	text-align: center;
	background-color: #000;
	border: none;
	color: #fff;
}
.footer-copyright--button {
	margin-top: 14px;

}
.button:hover,
.button:focus {
	background-color: #663d15;
	outline: inherit;
}
.gallary-content {
	overflow: hidden;
	background-color: #cccccc;
	border: 7px solid #fff;
	margin: inherit;
	margin-top: 20px;
	line-height: 0px;
	
}
.gallary .button {
	position: absolute;
	bottom: 0;
	right: 0;
}
.gallary .button:first-of-type{
	left: 0;

}

.appointment input {
	font: inherit;
	border: 2px solid black;
	background: transparent;
	width: 140px;
	height: 42px;
}
.appointment input:focus,
.appointment input:hover {
	border: 2px solid #663d15;
}
.main-footer {
	background-image: url(../img/bg-black.jpg);
	background-repeat: repeat;
	
}
.footer-contacts a{
	text-decoration: underline;
}
.footer-contacts a:hover{
	text-decoration: none;
}
.footer-contacts a:focus{
	outline: 1px solid white;
}
.footer-social {
	text-align: center;
    margin-left: 35px;
}
.footer-social ul{
	list-style-type: none;
	margin: 0;
	padding: 0;
}
.footer-social li{
	display: inline-block;
	margin-top: 14px;

}

.footer-copyright {
	text-align: center;
}
.footer-copyright a:hover,
.footer-copyright a:focus{
	color: #000;
	background-color: #fff;
}
.footer-social .social-button:hover,
.footer-social .social-button:focus{
	background-color: black;
	filter: invert(100%);
}
.social-button:hover ~ li,
.social-button:focus ~ li {
	background-color: white;
}
.social-button{
	display: inline-block;
	text-indent: -10000px;
	width: 43px;
	height: 43px;
	background-image: url('../img/vk.svg');
	background-repeat: no-repeat;
	background-position: 50% 50%;
}
.footer-social li:last-child .social-button{
	background-image: url('../img/facebook.svg');
}
.footer-social li:nth-child(2) .social-button{
	background-image: url('../img/instagram.svg');
}
.footer-copyright b{
	display: block;
}
.modal {
	color: #000;
	background-color: #f8f5f2;
	background-image: url(../img/bg-white.jpg);
	background-repeat: repeat;
	position: absolute;
	display: none;
	box-shadow: 0 5px 20px rgba(0,0,0, 0.7);
}
.modal--show{
	display: block;
}

.modal h2{
	margin: 0; 
	padding: 0;
	font-size: 30px;
	line-height: 42px;
	margin-bottom: 16px;
}
.modal-login p {
	margin: 0;
	margin-bottom: 10px;
}
.remember-me {
	display: flex;
}
.remember-me-label {
	padding-left: 30px;
	
}
.checkbox-pseudo {
	position: relative;
}
.checkbox-pseudo:before,
.radio-pseudo:before {
	box-sizing: border-box;
	position: absolute;
	content: '';
	width: 20px;
	height: 20px;
	border: 2px solid black;
	z-index: 1;
	left: 0;
	top: 2px;

}
.checkbox-checker:checked + .checkbox-pseudo:before{
	background-image: url('../img/cross.svg');
	background-position: center;
	background-repeat: no-repeat;
}
.checkbox-checker:disabled + .checkbox-pseudo:before{
	opacity: 0.4;

}
.checkbox-checker:disabled + .checkbox-pseudo {
	opacity: 0.4;
}
.radio-pseudo {
	position: relative;
}
.radio-pseudo:before {
	border-radius: 50%;
}
.radio-checker:checked + .radio-pseudo:before{
	background-image: url('../img/dot.svg');


	background-position: center;
	background-repeat: no-repeat;
}
.radio-checker:disabled + .radio-pseudo:before{
	opacity: 0.4;

}
.radio-checker:disabled + .radio-pseudo {
	opacity: 0.4;
}


.modal-forget-password {
	margin-left: auto;
}
.modal-login a {
	color: inherit;
	text-decoration: underline;
}
.modal-login a:hover {
	text-decoration: none;
}
.modal-login a:focus {
	text-decoration: none;
	outline: 1px solid white;
}
.remember-me-checkbox:enabled ~ .remember-me-label:hover,
.remember-me-checkbox:enabled ~ .remember-me-label:focus{
	color: #663d15;
}
.modal-login input {
	font: inherit;
	text-transform: uppercase;
	border: 2px solid black;
	background: transparent;
	
}
.modal-login input:focus,
.modal-login input:hover {
	border: 2px solid #663d15;
}

.modal-login .password-pseudo,
.modal-login .login-pseudo{
	position: relative;

}
.modal-login .login-pseudo:before,
.modal-login .password-pseudo:before{
	content: '';
	position: absolute;
	top: 12px;
	right: 16px;
	width: 15px;
	height: 15px;
	
	z-index: 1;
}

.modal-login .login-pseudo:before{
	background-image: url('../img/user.svg');
background-position: center;
	background-repeat: no-repeat;
}
.modal-login .password-pseudo:before{
	background-image: url('../img/lock.svg');
	background-position: center;
	background-repeat: no-repeat;
}



/*4444444444444444444444444444444444444444444444444444*/
.breadcrumbs, .product-photo-preview{
	list-style-type: none;
}
.breadcrumbs li a:hover,
.breadcrumbs li a:focus {
	color: #663d15;
}
.breadcrumbs-current {
	color: #aba9a7;
}
.pagination-list-item.current .button{
	background-color: white;
	color: #000;
}
.product-articul {
	color: #aeaeae;
}


.catalog-list, .pagination-list {
	list-style-type: none;
}
.filter-option, .our-supplies-list {
	list-style-type: none;
}
.filter-option:hover,
.filter-option:focus {
	color: #663d15;
}
.filter-option label{
	padding-left: 44px;
	display: inline-block;
}
.filter-list {
	margin:0;
	padding: 0;
}
.filter-list.company li{
	line-height: 24px;
}
.filter-list.group {
	margin-bottom: 50px;
}
.filter-input[type="checkbox"]:{}

/*Раскладка*************************************/
/*Раскладка*************************************/
/*Раскладка*************************************/
.wrapper {
 	width: 940px;
 	
 	padding-top: 0px;
 	padding-bottom: 0px;
 	margin: auto;
 }
 .wrapper--inner-page {
	width: 960px;
 }
 .main-navigation {
 	display: flex;
 	align-items: center;
 	flex-direction: column;
 }
.main-header-logo {
	order: 1;
	margin-top: 60px;
	margin-bottom: 66px;
}
.site-navigation a, .user-navigation a{
	display: block;
	padding-top: 25px;
	padding-bottom: 25px;
	padding-right: 20px;
	padding-left: 20px;
}
.user-navigation a {
	padding-left: 50px;
}
.site-navigation-current{
	position: relative;
}
.site-navigation-current::before {
	content: "";
	position: absolute;
	width: 56%;
	height: 4px;
	background-color: white;
	bottom: 0;
	left: 22%;

}

 .user-navigation .main-navigation-login {
	padding-left: 40px;
}
.main-navigation-login {
	position: relative;

}
.main-navigation-login::before {
	content: "";
	position: absolute;	
	top: 28px;
	left: 15px;
	display: inline-block;
	width: 16px;
	height: 16px;
	background-image: url(../img/login.svg);
	opacity: 0.3;
}
.main-navigation-login:hover::before,
.main-navigation-login:focus::before {
	opacity: 1;
}


.main-navigation-container {
	display: flex;
	width: 100%;
	justify-content: space-between;

}
.site-navigation {
	display: flex;
	margin-bottom: inherit;
	margin-top: 0px;
	width: 620px;
	padding: 0px;
}
.user-navigation{
	display: flex;
	justify-content: flex-end;
	margin-bottom: inherit;
	
	margin-top: 0px;
	width: 220px;
	text-align: right;
}
.visually-hidden {
	position: absolute;
	clip: rect(0,0,0,0);
	margin: 0px;
	padding: 0px;
	width: -1;
}
.features-list {
	margin: inherit;
	padding: inherit;
	min-height: 255px;
	display: flex;
	justify-content: space-between;
}
.features-list h3, .columns-container {
	margin: inherit;
	}
.features-item{
	padding-bottom: 0px;
	padding-left: 16px;
	padding-right: 16px;
	width: 270px;
}
.features-item p {
	margin: 0px;
	padding: 0px;
}
.features-item h3 {
	margin-bottom: 60px;
	position: relative;
}
.features-item h3::after {
	content: "";
	position: absolute;
	width: 20px;
	height: 20px;
	background-color: white;
	top: 57px;
	left: 50%;
	margin-left: -10px;
	transform: rotate(45deg);
}
.columns-container {
	padding-bottom: 50px;
	display: flex;
	justify-content: space-between;
	align-items: flex-start;
	padding-top: 45px;
	margin-bottom: 36px;
	padding-left: 80px;
	padding-right: 80px;
}
.columns-container ul,
.inner-columns-container ul{
	margin: 0px;
	padding: 0px;
;
}
.inner-columns-container{
	min-height: 370px;
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
	align-items: flex-start;
}
.flex-reverse {
	flex-direction: row-reverse;
}
.product-info {
	width: 390px;

}
.set {
	margin-top: 62px;
}
.set-list,
.our-supplies-list{
	list-style: none;
}
.set-item,
.our-supplies-item {
	padding-left: 20px;
	position: relative;
}
.set-item:before,
.our-supplies-item:before {
	content: '';
	position: absolute;
	width: 7px;
	height: 7px;
	margin-top: -3px;
	background-color: black;
	top: 50%;
	left: 2px;
	transform: rotate(45deg);
}
.uncompressed-list li{
	margin-bottom: 13px;
}
.preview-item {
	display: inline-block;
	margin-right: 17px;
	margin-bottom: 13px;
}
.preview-item:nth-child(3n){
	margin-right: 0;
}
.product-photo {
	width: 460px;

}
.news, .contacts {
	width: 380px;
}
.contacts p {
	margin-bottom: 20px;
}
.contacts .button {
	margin-right: 20px;

}
.gallary, .appointment {
	width: 300px;
}
.appointment .button{
	margin-top: 20px;
	flex-grow: 1;


}
.appointment-info{
	padding-right: 7px;
}
.appointment-form input:not([type="submit"]){
	padding: 13px;
	box-sizing: border-box;
}
.gallary {
	padding-bottom: 80px;
	position: relative;
}
.appointment-form {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: space-between;
	align-content: space-between;
}
.appointment p{
	margin-bottom: 0px;
	margin-top: 10px;
}

.appointment-form label{
	display: inline-block;
	margin-left: 16px;
	margin-bottom: 8px;
}
.footer-content {
	box-sizing: border-box;
	display: flex;
	min-height: 193px;
	padding-top: 60px;
	margin-top: 65px;
	align-items: flex-start;
}
.inner-page .footer-content{
	margin-top: 50px;
}
.footer-contacts{
	margin-right: 80px;
}
.footer-contacts{
	margin-top: 0px;
}
.footer-copyright{
	margin-left: auto; 
	margin-top: 0;
}
.modal-map {
	top: 45%;
	left: 50%;
	margin-left: -382px;
}
.modal-map img {
	display: block
}
.modal-map p{
	margin: 5px;
	position: relative;
}
.modal-map iframe {
	position: absolute;
	top: 0;
	left: 0;
}

.modal-login {
	box-sizing: border-box;
	padding-left: 80px;
	padding-right: 80px;
	padding-top: 50px; 
	padding-bottom: 58px;
	min-height: 386px;
	width: 460px;
	top: 120px;
	left: 50%;
	margin-left: -230px;
	
	
}
.modal--arrive {
	animation: arrive 0.5s;
}
.login--stress {
	animation: stress 0.02s;
	animation-iteration-count: 4;
}
.text-input-login,
.text-input-password {
	box-sizing: border-box;
	width: 300px; 
	height: 43px;
	padding-left: 15px;
}
.modal-login h2 {
	margin-top: 0px;
}
.modal-submit {
	width: 300px;
	height: 43px;
}
.modal-close {
	position: absolute;
	z-index: 1;
	text-indent: -10000px;
	width: 21px;
	height:21px;
	background-color: transparent;
	border: none;
	background-image: url('../img/cross-wt.png');
	background-size: 100%;
	top:8px;
	right: -35px;
	opacity: 0.8;
}
.modal-close:hover{
	opacity: 1;
}
/********************************************/
/**********Внутренних страниц**************/
/********************************************/
.inner-navigation {
	display: flex;
	flex-direction: row;
}
.inner-header-logo {
	padding-left: 20px;
	padding-right: 20px;
}
.container h1 {
	margin: 0px;
	padding-top: 50px;
}
.breadcrumbs {
	margin: 0px; 
	padding: 0px;
	margin-top: 15px;
	display: flex;
	margin-bottom: 53px;
}
.breadcrumbs-item:not(:first-child) {
	padding-left: 20px;
	position: relative;
}
.breadcrumbs-item:not(:first-child):before {
	content: '';
	position: absolute;
	width: 7px;
	height: 7px;
	margin-top: -3px;
	background-color: black;
	top: 50%;
	left: -5px;
	transform: rotate(45deg);
}
.breadcrumbs-item {
	padding-right: 20px;
}

.filter {
	box-sizing: border-box;
	width: 223px;
	padding-right: 15px;
	margin-right: 17px;
}
.product-filter, .catalog {
	line-height: 18px;
}
.filter-title {
	font-size: 24px;
	line-height: 18px;

}
.product-filter fieldset {
	margin: 0px;
	padding: 0px;
	border: none;
}
.product-filter ul {
	margin-top: 30px;
	margin-bottom: 55px;
}
.filter-list.group .filter-option{
	margin-bottom: 20px;
}
.filter-list.company .filter-option{
	margin-bottom: 13px;

}
.catalog-list {
	margin: 0px;
	padding: 0px;
	width: 700px;
	min-height: 590px;
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
	align-content: space-between;
}
.catalog-list:after{
	content: "";
	flex-grow: 1;
	flex-shrink: 2;
	max-width: 220px;
}
.catalog-item{
	min-width: 220px;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: space-between;
	flex-wrap: wrap;
	background: white;
	box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
	margin-bottom: 20px;
	margin-right: 20px;
}
.catalog-item:nth-child(3n){
	margin-right: 0;
}
.product-photo-full,
.preview-item {
	box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
	line-height: 12px;
}

.product-photo-full {
	margin-top: 0;
	margin-bottom: 20px;
}
.product-availability,
.product-articul {
	display: inline-block;
	margin-top: 20px;

}
.product-articul {
	float: right;
	margin-right: 10px;
}

.catalog-item:hover,
.preview-item:hover {
	box-shadow: 1px 1px 10px rgba(0, 0, 0, 0.3);

}


.catalog-item>a{
	display: flex;
	flex-direction: column;
	align-items: center;
}
 .catalog-item img {
 	order: -1;
 }
.main-layout {
	display: flex;
	/*justify-content: space-between; -в Уроке так*/
}
.catalog-item h3{
	font-size: 14px;
	line-height: 18px;
	margin-bottom: 0px;
	width: 187px;
}
.product-price {
	display: flex;
	width: 187px;
	height: 43px;
	justify-content: space-between;
	align-items: baseline;
}
.product-text {
	margin-bottom: 37px;
}
.button-buy{
	box-sizing: border-box;
	width: 78px;
	height: 43px;
	line-height: 43px;
	
}
.main-page .button,
.button-default {
	min-width: 140px;
	height: 44px;
	display: inline-block;
	line-height: 44px;

}
.button-filter{
	min-width: 112px;
	height: 44px;
	display: inline-block;
	line-height: 44px;
}
.list-title {
	font-size: 24px;
	line-height: 30px;
	margin: 0;
	margin-top: 24px;
	margin-bottom: 25px;

}
.product-price{
	background-color: #e5e5e5;
	
}
.product-price b {
	margin-left: auto;
	margin-right: auto;
}
.catalog-category {
	text-transform: none;
}
.pagination-list {
	padding: 0px;
	display: flex;
	margin-left: 235px;
	margin-top: 25px;

}

.pagination-list a{
	line-height: 43px;
	box-sizing: border-box;
	width: 43px;
	height: 43px;
	/*padding-top: 10px;
	*/
	display: inline-block;
	margin-left: 7px;
}
.inner-page .main-footer {
	color: #fff;
}
.page-title {
	font-size: 30px;
	line-height: 42px;
}
.our-supplies {
	width: 260px;
}
.price-list {
	min-height: 280px;
	width: 460px;
	
}
.prise-list-table{
	width: 100%;
	border-collapse: collapse;
}
.prise-list-table caption {
	width: 180px;
	text-align: left;
	margin-bottom: 7px;
}
.prise-list-table td{
	border: 2px solid black;
	padding: 7px;
	width: 50%;
	padding-left: 18px;
}
.prise-list-table td:not(:first-child){
	text-align: center;
}
.about-us {
	min-height: 185px;
	width: 860px;
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
	align-content: flex-start;
}
.about-us h2{
	width: 100%;
}
.about-us p{
	width: 385px;
	margin:0;
	margin-bottom: 0px;
}
.price-list-title {
	letter-spacing: 1px;
	margin-bottom: 40px;
	margin-top: -5px;
	font-size: 46px;
	line-height: 46px;
	text-align: center;
	position: relative;
}
.price-list-title:before,
.price-list-title:after{
	content: '';
	position: absolute;
	width: 160px;
	height: 2px;
	background-color: black;
	top:50%;
}
.price-list-title:before{
	left:0;
}
.price-list-title:after {
	right: 0;
}
.price-list-title b {
	display: inline-block;
	width: 600px;
}
.slider {
	height: 164px;
	width: 858px;
	position: relative;
}
.slider a {
	position: absolute;
}
.z-ind {
	z-index: 1;
}
.button-disabled {
	opacity: 0.4;
}
.button-disabled:hover,
.button-disabled:focus {
	background-color: black;
}